apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: partner-catalog
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/rhn-sa-itengval-tenant/partner-catalog/partner-catalog@sha256:1e2f62a4a7d05395fc1c221aec89e2f53ef7e4053604bb2cd38343574f4421ee
        name: my-java-springboot
        resources: {}
status: {}
